<p>gpa-for-semester works!</p>
<!--two calculators-->
<!--calculator #1 just does straight up input to result of GPA per class-->
<!--while(!out of classes)-->
<!--input class credit total-->
<!--input GPA-->
<!--sum += GPA*credit total-->
<!--cumulative credits += credit total-->
<!--END WHILE-->
<!--sum/cumulative credits = GPA -->
<!--Store GPA-->

<!--second calculator-->
<!--while(!out of classes)-->
<!--get credit total for class-->
<!--take GPA from gpa-by-subtraction -->
<!--two results for each class, best case and worst, saved to some kind of ADT or DT (list??, but it needs indexing) by index (These will be used EXTENSIVELY) -->
<!--repeat gpa-by-subtraction for every course-->
<!--END WHILE-->
<!--aggregate best and worst cases by iterating through list and display-->
<!--use this data to do even MORE complex math involving whether or not best or worst case will be approached by user.-->


<!--UTILIZE GPA FOR COLLEGE TO GIVE FULL RESULTS-->
<!--for GPA by subtraction show result of worst case, best case, and user estimate case on College GPA-->